<section class="footer footer__transparent">
  <div class="container">
    <div class="legals">Tous droits réservés,<br/> Natacha Texier - 2020</div>
    <div class="pigeon-me">
      <div class="by-courrier-electronique">
        <span class="g">com</span>
        <span class="c">pro</span>
        <span class="e">hotmail</span>
        <span class="b">.</span>
        <span class="d">@</span>
        <span class="f">.</span>
        <span class="a">natacha</span>
      </div>
      <div class="by-magic">
        <span class="d">11&nbsp;</span>
        <span class="b">13&nbsp;</span>
        <span class="c">26&nbsp;</span>
        <span class="e">00</span>
        <span class="a">06&nbsp;</span>
      </div>
      <div>
        <span class="hometown">Paris - France</span>
      </div>
      <div>
      </div>
    </div>
    <div class="socials">
      <a href="https://www.linkedin.com/in/natacha-texier-0a73a7194/" rel="noreferrer" target="_blank">
        <img src="./assets/icons/linkedin.svg" alt="linkedin icon">
      </a>
      <a href="https://www.behance.net/natachatexier" rel="noreferrer" target="_blank">
        <img src="./assets/icons/behance.svg" alt="behance icon">
      </a>
      <a href="https://www.instagram.com/natacha.txr.graphisme/?hl=fr" rel="noreferrer"
         target="_blank">
        <img src="./assets/icons/instagram.svg" alt="instagram icon">
      </a>
    </div>
  </div>
</section>
