<div id="about-me">
  <section class="header header__background">
    <div class="container">
      <h1 class="brand" routerLink="/">Natacha Texier</h1>
      <h2 class="brand__sub">Design graphique</h2>
      <div class="nav-button nav-button__inverted" routerLink="/">Projets</div>
    </div>
  </section>
  <section class="body">
    <div class="container">
      <div class="about-me-container">
        <div class="profile--image">
          <img src="./assets/imgs/portrait.jpg">
        </div>
        <div class="profile--description">
          <div class="description--title">Bonjour,</div>
          <div class="description--body">
            je m'appelle Natacha et je suis étudiante en DN MADe design graphique, à Paris.
            <br/><br/>
            Soucieuse des enjeux de communication, liés aux champs d’utilité sociale et d’intérêt<br/>
            général, j'ai choisi de me spécialiser dans le graphisme responsable et ainsi mettre<br/>
            ma créativité au service du bien commun.
            <br/><br/>
            Aussi, il est important pour moi de toujours prendre en compte l'impact de ma pratique<br/>
            sur notre environnement. Celle-ci couvre un large champs, allant de la création d'objets éditoriaux à la création d'identités visuelles, en passant par la création de supports de<br/>
            communication imprimés ou digitaux. En parallèle, je m'intéresse tout particulièrement<br/>
            aux techniques d'impressions, telles que la sérigraphie et la risographie.<br/>
            <br/>
            Je mets toute ma sensibilité au cœur des projets qui me sont confiés, afin de répondre<br/>
            au mieux à la demande, tout en respectant le message. Je souhaite collaborer avec<br/>
            des personnes qui partagent mes valeurs et espère participer à des projets innovants<br/>
            à impact fort et positif.
          </div>
          <div class="description--download">
            <a href="./assets/files/natacha-texier-cv.pdf" target="_blank">Télécharger mon CV</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
