<div id="homepage">
  <section class="header header__transparent">
    <div class="container">
      <h1 class="brand">Natacha Texier</h1>
      <h2 class="brand__sub">Design graphique</h2>
      <div class="nav-button nav-button__inverted" routerLink="/a-propos">À propos</div>
    </div>
  </section>
  <section class="body">
    <div class="container">
      <div class="container--project--menu">
          <span *ngFor="let menuItem of menuItems; let i = index" (click)="changeActiveItem(i)"
                [class]="menuItem.isActive ? 'isActive' : ''"
          >
            <span class="menu-item">{{menuItem.name}}</span>
            <span *ngIf="i < menuItems.length - 1" class="menu-separator">|</span>
        </span>
      </div>
      <ngx-masonry class="container--project-items" [options]="masonryOptions">
        <div ngxMasonryItem class="masonry-item"  [prepend]="false" *ngFor="let item of masonryItems">
          <div class="item-container" [routerLink]="isDesktop ? item.routerLinkName : null">
            <img [src]="'./assets/imgs/projects/thumbnails/'+item.imageName+'.jpg'"
                 alt="Image thumbnail"/>
            <div class="mask-info">
              <span class="title" [innerHTML]="item.title"></span>
              <span class="know-more" *ngIf="!isDesktop && item.routerLinkName"
                    [routerLink]="item.routerLinkName ? item.routerLinkName : null">En
                savoir plus</span>
              <span class="details">
                <span *ngIf="item.place">{{item.place}},<br/></span>
                <span>{{item.date}}</span>
              </span>
            </div>
          </div>
        </div>
      </ngx-masonry>
    </div>
  </section>
  <app-footer></app-footer>
</div>
