.nav-button {
  height: 50px;
  width: 126px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: normal;
  cursor: pointer;

  &__inverted {
    border: 2px solid $main-color;
    color: $main-color;
    transition: background-color 0.2s ease;

    &.nav-button__white {
      border-color: white;
      color: white;

      &:hover {
        color: $main-color;
        background-color: white;
      }

      &.nav-button__background-fade {
        background: transparentize(black, 0.5);

        &:hover {
          color: white;
          background: transparentize(black, 0.3);
        }
      }
    }

    &:hover {
      color: white;
      background-color: $main-color;
    }
  }
}
