
#homepage {
  width: 100%;
  min-height: 100vh;

  section {
    flex: 1 1 auto;

    &.header {
      height: 225px;
      margin: 0;

      &__transparent {

      }

      .container {
        height: 225px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
      }

      .brand {
        width: 100%;
        font-family: "Silk Serif";
        font-weight: normal;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 20px;
        color: $main-color;

        @media screen and (max-width: 600px) {
          font-size: 50px;
          line-height: 50px;
        }

        &__sub {
          font-family: Roboto;
          font-weight: 300;
          font-size: 40px;
          line-height: 40px;
          color: $main-color;
          @media screen and (max-width: 900px) {
            width: 100%;
            margin-bottom: 20px;
          }

          @media screen and (max-width: 600px) {
            font-size: 20px;
            line-height: 20px;
          }
        }
      }

      .nav-button {
        position: absolute;
        top: calc(50% - 50px);
        right: 40px;

        @media screen and (max-width: 900px) {
          position: initial;
          width: 295px;
        }


        @media screen and (max-width: 600px) {
          width: 150px;
          height: 35px;
          font-size: 14px;
        }
      }
    }

    &.body {
      height: 100%;
      min-height: calc(100vh - (225px + 175px));

      .container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        &--project--menu {
          width: 100%;
          text-align: center;
          margin-top: 25px;
          margin-bottom: 60px;

          span {
            color: $main-color;
            font-family: Roboto;
            font-weight: normal;
            font-size: 20px;
          }
          .menu-item {
            cursor: pointer;
            position: relative;

            &:hover {
              text-shadow: 0 0 .65px #333, 0 0 .65px #333;
            }
          }

          .isActive {
            .menu-item {
              text-shadow: 0 0 .65px #333, 0 0 .65px #333;
            }
          }

          .menu-separator {
            margin: 0 10px;
          }
        }

        ngx-masonry {
          width: 100%;
        };
      }
    }

    &.footer {
      height: 175px;
      background-color: $main-color;
      color: white;

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        height: 100%;

        .legals, .pigeon-me, .socials {
          flex: 1 1 calc(33% - 30px);
        }

        .legals {
          font-size: 14px;
          font-family: Roboto;
          font-weight: normal;
          padding-left: 15px;
          @media screen and (max-width: 900px) {
            font-size: 12px;
            line-height: 12px;
          }
        }

        .pigeon-me {
          font-size: 18px;
          font-family: Roboto;
          font-weight: normal;
          @media screen and (max-width: 900px) {
            font-size: 16px;
            line-height: 16px;
          }

          @media screen and (max-width: 600px) {
            font-size: 14px;
            line-height: 14px;
          }
          .by-courrier-electronique {
            display: flex;
            justify-content: center;
            align-items: center;

            .a { order: 1}
            .b { order: 2}
            .c { order: 3}
            .d { order: 4}
            .e { order: 5}
            .f { order: 6}
            .g { order: 7}
          }
          .by-magic {
            display: flex;
            justify-content: center;
            align-items: center;

            .a { order: 1}
            .b { order: 2}
            .c { order: 3}
            .d { order: 4}
            .e { order: 5}
          }
        }

        .hometown {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .socials {
        padding-right: 15px;
      }
    }
  }
}


.masonry-item {
  width: 345px;
  margin-bottom: 50px;
  .item-container {
    transition: all 0.2s ease;
    position: relative;

    img {
      box-shadow: 0 7px 10px -7px black;
    }

    .mask-info {
      width: 100%;
      height: calc(100% - 3px);
      opacity: 0;
      transition: all 0.2s ease;
      background-color: $main-color;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
      .title {
        display: block;
        padding: 15px;
        color: white;
        font-family: Roboto;
        width: 100%;
        align-self: flex-start;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
      }

      .details {
        display: block;
        color: white;
        width: 100%;
        align-self: flex-end;
        text-align: right;
        padding: 15px;
        padding-left: 33%;
      }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;

      .mask-info {
        opacity: 1;
      }
    }
  }

}
