
#homepage {
  width: 100%;
  min-height: 100vh;

  section {
    flex: 1 1 auto;


    &.body {
      height: 100%;
      min-height: calc(100vh - (215px + 135px));
      margin-bottom: 25px;

      .container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        &--project--menu {
          width: 100%;
          text-align: center;
          margin-top: 25px;
          margin-bottom: 60px;

          span {
            color: $main-color;
            font-family: Roboto;
            font-weight: normal;
            font-size: 20px;
          }
          .menu-item {
            cursor: pointer;
            position: relative;

            &:hover {
              text-shadow: 0 0 .65px #333, 0 0 .65px #333;
            }
          }

          .isActive {
            .menu-item {
              text-shadow: 0 0 .65px #333, 0 0 .65px #333;
            }
          }

          .menu-separator {
            margin: 0 10px;
          }
        }

        ngx-masonry {
          width: 100%;
        };
      }
    }
  }
}


.masonry-item {
  width: 345px;
  margin-bottom: 50px;

  @media screen and (max-width: 400px) {
    width: 300px;
  }

  .item-container {
    transition: all 0.2s ease;
    position: relative;

    img {
      box-shadow: 0 7px 10px -7px black;
      @media screen and (max-width: 400px) {
        width: 300px;
      }
    }

    .mask-info {
      width: 100%;
      height: calc(100% - 3px);
      opacity: 0;
      transition: all 0.2s ease;
      background-color: $main-color;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    .title {
      display: block;
      padding: 15px;
      color: white;
      font-family: Roboto;
      width: 100%;
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 22px;
    }

    .details {
      display: block;
      color: white;
      width: 100%;
      align-self: flex-end;
      text-align: right;
      padding: 15px;
      padding-left: 33%;
      font-family: Roboto;
    }

    .know-more {
      padding: 15px;
      color: white;
      font-family: Roboto;
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      text-decoration: underline;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;

      .mask-info {
        opacity: 1;
      }
    }
  }

}
